@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components { 
  .inputStyle{
    @apply w-full h-12 px-5 border border-[#c9c9c9] outline-none text-[#5c5c5c] text-lg   mobile:max-sm:text-sm mobile:max-sm:h-10;
  }
  .loginStyle{
    @apply mt-5 text-[#5c5c5c] text-lg font-medium   mobile:max-sm:text-sm mobile:max-sm:mt-2
  }
  .navbarLoginLogoutButton{
    @apply w-36 h-14 border border-solid border-[#7a7a7a] rounded-[75px] text-[#515151] text-xl font-medium bg-white active:bg-[#f3f3f3]    sm:max-lg:text-lg sm:max-lg:w-20 sm:max-lg:h-9     mobile:max-sm:w-14  mobile:max-sm:h-7  mobile:max-sm:text-xs  mobile:max-sm:font-medium  mobile:max-sm:rounded-2xl
  }
}